.manage-queue-section-container {
  width: 100%;
  min-height: 100vh;
  padding: 20px 0;
  background-color: #10101e;
  position: relative;
  animation: startup 1s ease-in;
}

.manage-queue-section-container .main-container {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.manage-queue-section-container .main-container .title {
  color: #fff;
  font-size: 2.4rem;
  margin-bottom: 50px;
  text-align: center;
  width: 100%;
  padding: 5px;
}

.manage-queue-section-container .main-container .title > span {
  cursor: pointer;
}

