.queue-settings-section-container {
  width: 100%;
  /* max-width: 1920px; */
  margin: 0 auto;
  height: 100%;
  min-height: 100vh;
  background-color: #18182a;
  /* animation: startup 0.5s ease-in; */
  user-select: none;

  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    #2a2a49 0%,
    #2a2a49 25%,
    #2a2a49 51%,
    #e20bd3 125%
  );
  animation: AnimateBG 20s ease-in infinite, startup 0.5s ease-in;
}

.queue-settings-section-container .main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 10px;
}

.queue-settings-section-container .main-container .title {
  color: #fff;
  font-size: 2.4rem;
  margin-bottom: 50px;
  text-align: center;
  width: 100%;
  padding: 5px;
}

.queue-settings-section-container .main-container .title > span {
  cursor: pointer;
}

.queue-settings-section-container .main-container > .settings-container {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  width: 100%;  
  max-width: 720px;
}

@media (max-width: 520px) {
  .queue-settings-section-container .main-container > .settings-container {
    font-size: 1.7rem;
  }
}

@media (max-width: 420px) {
  .queue-settings-section-container .main-container > .settings-container {
    font-size: 1.4rem;
  }
}

.queue-settings-section-container .main-container > .settings-container button:not([disabled]):active {
  scale: 0.9;
}

/* TOGGLE QUEUE ON OFF START */
.queue-settings-section-container .main-container > .settings-container > .queue-on-off {
  background-color: #ff10f033;
  padding: 8px 12px;
  border-radius: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 20px;
  box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.25);
}

.queue-settings-section-container .main-container > .settings-container > .queue-on-off > .btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;  
}

.queue-settings-section-container .main-container > .settings-container > .queue-on-off > .btn-container > button {
  color: #fff;
  font-size: 1.2rem;
  padding: 10px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 20px 4px 10px rgba(0, 0, 0, 0.15);
}

.queue-settings-section-container .main-container > .settings-container > .queue-on-off > .btn-container > button:disabled {
  cursor: default;
  opacity: 0.3;
}

.queue-settings-section-container .main-container > .settings-container > .queue-on-off > .btn-container > button.on-btn {
  background-color: #2ecc71;
}
.queue-settings-section-container .main-container > .settings-container > .queue-on-off > .btn-container > button.off-btn {
  background-color: #f49;
}
/* TOGGLE QUEUE ON OFF END */

/* SET STREAM LINK START */
.queue-settings-section-container .main-container > .settings-container > .set-stream-link-container {
  background-color: #ff10f044;
  padding: 8px 12px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.25);
}

.queue-settings-section-container .main-container > .settings-container > .set-stream-link-container > label {
  flex: 3;
}

.queue-settings-section-container .main-container > .settings-container > .set-stream-link-container > input {
  flex: 2;
  width: 100%;
  font-size: 1.1rem;
  height: 44px;
  padding: 2px 4px;
  border: none;
  border-radius: 4px;
}

.queue-settings-section-container .main-container > .settings-container > .set-stream-link-container > button {
  background-color: #47f;
  flex: 1;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 10px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 20px 4px 10px rgba(0, 0, 0, 0.15);
}

.queue-settings-section-container .main-container > .settings-container > .set-stream-link-container > button:disabled {
  cursor: default;
  opacity: 0.3
}
/* SET STREAM LINK END */

/* CLEAR SUBMISSIONS PLAYED START */
.queue-settings-section-container .main-container > .settings-container > .clear-submissions-played-container {
  background-color: #ff10f044;
  padding: 8px 12px;
  border-radius: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.25);
}

.queue-settings-section-container .main-container > .settings-container > .clear-submissions-played-container > button {
  background-color: #f49;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 10px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 20px 4px 10px rgba(0, 0, 0, 0.15);
}
/* CLEAR SUBMISSIONS PLAYED END */


