.queue-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  width: 100%;
  word-wrap: break-word;
}

.queue-container h2 {
  color: #c8d0da;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 20px;
}

.queue-container .queuer {
  background-color: #18182a;
  color: #b3baffcc;
  width: 90%;
  max-width: 1280px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  padding: 10px 11%;
  position: relative;
  transition: all 0.25s ease;
}

/* Loading */
.queue-container .queuer.loading {
  cursor: default;
  animation: QueuerLoading 0.5s ease-out infinite alternate;
  animation-delay: calc(100ms * var(--i));
}

.queue-container .queuer.current {
  animation: CurrentQueuerHighlight 0.5s ease-out infinite alternate;
}

@media (hover: hover) {
  .queue-container .queuer:hover {
    background-color: #1f1f37;
    transform: translateY(-2px);
  }

  .queue-container .queuer.loading:hover {
    background-color: #18182a;
    transform: translateY(0);
  }
}

.queue-container .queuer span {
  font-weight: bold;
}

.queue-container .queuer .link-btn,
.queue-container .queuer .info-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 10%;
  border-radius: 0 8px 8px 0;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: bolder;
  background-color: #4f8;
  color: #2a2a49;
  z-index: 10;
}

/* Loading */
.queue-container .queuer.loading .link-btn,
.queue-container .queuer.loading .info-btn {
  color: transparent;
  background-color: #2a2a49;
}

.queue-container .queuer .info-btn {
  background-color: #47f;
  color: #fff;
  left: 0;
  border-radius: 8px 0 0 8px;
}

@media (hover: hover) {
  .queue-container .queuer .link-btn,
  .queue-container .queuer .info-btn {
    background-color: #2a2a49;
    color: #b3baff;
  }

  .queue-container .queuer:hover .link-btn {
    background-color: #4f8;
    box-shadow: 0px 0px 10px #4f8a;
    color: #2a2a49;
  }

  .queue-container .queuer:hover .info-btn {
    background-color: #47f;
    box-shadow: 0px 0px 10px #47fa;
    color: #fff;
  }

  /* Loading */
  .queue-container .queuer.loading:hover .link-btn,
  .queue-container .queuer.loading:hover .info-btn {
    background-color: #2a2a49;
    box-shadow: none;
    color: transparent;
  }
}

.queue-container .queuer.active {
  align-items: center;
}

.queue-container .queuer.active .username {
  font-size: 1.4rem;
  width: 80%;
  text-align: center;
}

.queue-container .queuer.current .user-btn {
  display: inline-block;
  text-transform: uppercase;
  padding: 0.5rem 0;
  margin-top: 10px;
  text-decoration: none;
  background: #b3baffcc;
  box-shadow: 0 0 5px #b3baffcc;
  border-bottom: solid 4px #949eff;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition: all 0.35s ease;
}

.queue-container .queuer.current .user-btn .icon {
  font-size: 1.4rem;
  transform: translateY(-1.5px);
}

.queue-container .queuer.current .user-btn.leave {
  background: #d86666;
  box-shadow: 0 0 5px #d86666;
  border-bottom: solid 4px #b93434;
}

.queue-container .queuer.current .user-btn.update {
  background: #47f;
  border-bottom: solid 4px #345ac2;
  box-shadow: 0 0 5px #47f;
}

@media (hover: hover) {
  .queue-container .queuer.current .user-btn.leave,
  .queue-container .queuer.current .user-btn.update {
    background: #b3baffcc;
    box-shadow: 0 0 5px #b3baffcc;
    border-bottom: solid 4px #949eff;
  }

  .queue-container .queuer.current .user-btn.leave:hover {
    background: #d86666;
    border-bottom: solid 4px #b93434;
    translate: 0 -1px;
    box-shadow: 0 0 5px #d86666;
  }

  .queue-container .queuer.current .user-btn.update:hover {
    background: #47f;
    border-bottom: solid 4px #345ac2;
    translate: 0 -1px;
    box-shadow: 0 0 5px #47f;
  }
}

.queue-container .queuer.current .user-btn:active {
  /*on Click*/
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px); /*Move down*/
  border-bottom: none; /*disappears*/
}

/* Loading */
.queue-container .queuer.loading .username {
  color: transparent;
}

.queue-container .empty-disclaimer {
  font-size: 1.2rem;
  color: #adb4bc;
}
