.home-section-container {
  max-width: 1920px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  animation: startup 1s ease-in;
  animation-delay: 0.9s;
}

.home-section-container .main-container {
  background-image: radial-gradient(
    farthest-corner at 50% 176%,
    rgba(0, 0, 0, 0.1) 80%,
    #000 100%
  );
  min-height: 100vh;
  height: 100%;
  width: 100%;
  animation: homeBG 3s ease-in infinite alternate;
}

.home-section-container .main-container::before {
  content: "";
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #232323;
  /* background-image: url("https://cdn.discordapp.com/attachments/1011744799629529208/1019645944532324486/queue_site_background.jpeg"); */
  background-image: url("../../assets/main-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
}

/* Top Nav Section */
.home-section-container .main-container .nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  user-select: none;
}

.home-section-container .main-container .nav-container .left,
.home-section-container .main-container .nav-container .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.home-section-container .main-container .nav-container .left a .logo {
  width: 96px;
  object-fit: cover;
}

.home-section-container .main-container .nav-container .right a .icons {
  width: 42px;
}

.home-section-container .main-container .nav-container .right a {
  border-radius: 50%;
  transition: all 0.15s ease-out;
}

@media (hover: hover) {
  .home-section-container .main-container .nav-container .left a .logo:hover {
    animation: shake 0.01s ease infinite alternate;
  }

  .home-section-container .main-container .nav-container .right a:hover {
    transform: translateY(-3px);
    background-color: rgba(255, 0, 255, 0.2);
    border-radius: 8px;
  }
}

@media (max-width: 560px) {
  .home-section-container .main-container .nav-container {
    justify-content: center;
    padding-top: 20px;
  }

  .home-section-container .main-container .nav-container .right {
    width: 100%;
    justify-content: space-evenly;
  }

  .home-section-container .main-container .nav-container .left a .logo {
    width: 48px;
  }

  .home-section-container .main-container .nav-container .right a .icons {
    width: 48px;
  }
}

/* Main section */
.home-section-container .main-container .main-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  z-index: 10;
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-40%);
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.home-section-container .main-container .main-section-container .title {
  line-height: 100px;
  color: #fff;
  font-size: 6rem;
  letter-spacing: 7px;
  font-weight: bold;
  text-shadow: 6px 4px 5px #eb58b5;
  text-align: center;
  animation: shadowGlow1 3s ease-in infinite alternate;
  font-family: "Bebas Neue", cursive, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

.home-section-container .main-container .main-section-container .title span {
  text-shadow: 6px 4px 5px #8b01da;
}

@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
.home-section-container .main-container .main-section-container .schedule {
  color: #fff;
  text-align: center;
  margin-top: -10px;
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 60px;
  text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.15);
  font-family: "Lalezar", cursive, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.btn,
.btn:after {
  width: 200px;
  height: 86px;
  line-height: 88px;
  font-size: 2.4rem;
  text-shadow: 0px 3px 3px rgba(255, 0, 255, 0.15);
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(45deg, transparent 5%, #fff 5%);
  border: 0;
  color: #121212;
  letter-spacing: 3px;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn {
  transition: all 0.35s ease;
  cursor: pointer;
}

.btn:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "ALTERNATE TEXT";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #eb58b5 3%,
    #eb58b5 5%,
    #fff 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.btn:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@media (hover: hover) {
  .btn-container .btn:hover {
    transform: translateY(-3px) scale(0.95);
  }
}

.home-section-container .main-container .disclaimer-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  max-width: 1920px;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  z-index: 200;
  transition: 0.35s ease;
}

.home-section-container .main-container .disclaimer-container.active {
  bottom: 100%;
  z-index: 0;
}

.home-section-container .main-container .disclaimer-container .disclaimer {
  color: #fff;
  padding: 16px 10px;
  text-align: center;
  font-size: 2rem;
  max-width: 920px;
  margin-bottom: 20px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
}

@media (max-width: 920px) {
  .home-section-container .main-container .disclaimer-container .disclaimer {
    font-size: 1.7rem;
  }
}

.home-section-container .main-container .disclaimer-container .close-overlay {
  width: 100%;
  padding: 6px 10px;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
  color: #232323;
  transition: all 0.25s ease;
}

@media (hover: hover) {
  .home-section-container .main-container .disclaimer-container .close-overlay {
    background-color: #fff;
  }

  .home-section-container
    .main-container
    .disclaimer-container
    .close-overlay:hover {
    transform: translateY(3px);
  }
}

@media (max-width: 1040px) {
  .home-section-container
    .main-container
    .main-section-container
    .disclaimer-container
    .disclaimer {
    font-size: 1.2rem;
  }
}

@media (max-width: 920px) {
  .home-section-container .main-container .main-section-container .title {
    font-size: 5rem;
  }

  .home-section-container .main-container .main-section-container .schedule {
    font-size: 2.6rem;
  }

  .btn,
  .btn:after {
    width: 170px;
    height: 76px;
    line-height: 77px;
    font-size: 2rem;
  }
}

@media (max-width: 560px) {
  .home-section-container .main-container .main-section-container {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
  }

  .home-section-container .main-container .main-section-container .title {
    font-size: 3rem;
    margin-bottom: 10px;
    line-height: 60px;
    text-shadow: 4px 2px 5px #eb58b5;
    animation: shadowGlow1mobile 3s ease-in infinite alternate;
  }

  .home-section-container .main-container .main-section-container .title span {
    text-shadow: 3px 2px 5px #eb58b5;
  }

  .home-section-container .main-container .main-section-container .schedule {
    font-size: 2.2rem;
    margin-bottom: 30px;
  }

  .btn-container {
    flex-direction: column;
  }

  .btn,
  .btn:after {
    width: 80vw;
  }

  .home-section-container .main-container .disclaimer-container .disclaimer {
    font-size: 1.4rem;
  }
}

@media (max-width: 386px) {
  .home-section-container .main-container .main-section-container .title {
    font-size: 2.6rem;
  }

  .home-section-container .main-container .main-section-container .schedule {
    font-size: 2rem;
    font-weight: 400;
  }
}

@media (max-width: 1000px) {
  @media (min-height: 1100px) {
    .home-section-container .main-container .main-section-container {
      position: absolute;
      top: 30%;
      left: 0;
      transform: translateY(-30%);
    }

    .btn-container {
      flex-direction: column;
    }

    .btn,
    .btn:after {
      width: 70vw;
    }
  }
}

@media (max-width: 780px) {
  @media (min-height: 1000px) {
    .home-section-container .main-container .main-section-container {
      position: absolute;
      top: 30%;
      left: 0;
      transform: translateY(-30%);
    }

    .btn-container {
      flex-direction: column;
    }

    .btn,
    .btn:after {
      width: 70vw;
    }
  }
}
