.manage-queue-section-container {
  width: 100%;
  min-height: 100vh;
  padding: 20px 0;
  background-color: #10101e;
  /* animation: startup 1s ease-in; */
  position: relative;

  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    #18182a 0%,
    #18182a 25%,
    #18182a 51%,
    #e20bd3 150%
  );
  animation: AnimateBG 20s ease-in infinite, startup 1s ease-in;
}

.manage-queue-section-container .main-container {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.manage-queue-section-container .main-container .title {
  color: #fff;
  font-size: 2.4rem;
  margin-bottom: 50px;
  text-align: center;
  width: 100%;
  padding: 5px;
  cursor: pointer;
}

.manage-queue-section-container .main-container .overlay {
  position: fixed;
  z-index: 990;
  width: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  left: 50%;
  top: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s ease;
  translate: -50% -50%;
}

.manage-queue-section-container .main-container .overlay.active {
  top: 50%;
  width: 100vw;
}

.manage-queue-section-container .main-container .overlay .manage-btn {
  z-index: 999;
  color: #fff;
  background: #ff10f0;
  border-bottom: solid 4px #e20bd3;
  box-shadow: 0 0 5px #ff10f0;
  width: 90%;
  max-width: 520px;
  border: none;
  border-radius: 4px;
  padding: 8px 0;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media (hover: hover) {
  .manage-queue-section-container .main-container .overlay .manage-btn:hover {
    translate: 0 -3px;
  }
}

.manage-queue-section-container .main-container .overlay .manage-btn:active {
  /*on Click*/
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px); /*Move down*/
  border-bottom: none; /*disappears*/
}

.manage-queue-section-container .main-container .nav-container {
  background-color: #2a2a49;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -200%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 100;
  overflow: hidden;
  transition: left 0.35s ease-in-out;

  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    #2a2a49 0%,
    #2a2a49 25%,
    #2a2a49 51%,
    #e20bd3 100%
  );
  animation: AnimateBG 20s ease-in infinite;
}

.manage-queue-section-container .main-container .nav-container.active {
  left: 0;
}

.manage-queue-section-container .main-container .nav-container .btn {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  transition: all 0.35s ease;
}

.manage-queue-section-container .main-container .nav-container .btn::after {
  content: none;
}

.manage-queue-section-container .main-container .nav-container .btn::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #ff10f0;
  box-shadow: 0px 0px 20px #ff10f0;
  transition: all 0.15s ease-in-out;
  z-index: -10;
}

@media (hover: hover) {
  .manage-queue-section-container
    .main-container
    .nav-container
    .btn:active::before {
    transform: rotateZ(180deg);
  }

  .manage-queue-section-container .main-container .nav-container .btn:hover {
    animation: none;
    box-shadow: 20px 0px 10px rgba(0, 0, 0, 0.15);
    translate: 0 -3px;
  }

  .manage-queue-section-container
    .main-container
    .nav-container
    .btn:hover::before {
    height: 100%;
  }
}
